{% extends "admin/base_site.html" %}
{% block content %}
<h1>Company Details</h1>
<table class="data-table">
    <tbody>
        <tr>
            <th>Company Name</th>
            <td>{{ company.name }}</td>
        </tr>
        <tr>
            <th>Email ID</th>
            <td>{{ company.email }}</td>
        </tr>
        <tr>
            <th>Mobile Number</th>
            <td>{{ company.mobile_number }}</td>
        </tr>
        <tr>
            <th>General Contact</th>
            <td>{{ company.general_contact_number }}</td>
        </tr>
        <tr>
            <th>HQ Address</th>
            <td>
                {{ company.hq_address | safe}}
            </td>
        </tr>
        <tr>
            <th>Years in Business</th>
            <td>{{ company.number_of_years }}</td>
        </tr>
        <tr>
            <th>Number of Employees</th>
            <td>{{ company.number_of_employees }}</td>
        </tr>
        <tr>
            <th>Number of Customers</th>
            <td>{{ company.number_of_customers }}</td>
        </tr>
        <tr>
            <th>Annual Revenue</th>
            <td>${{ company.annual_revenue }}</td>
        </tr>
        <tr>
            <th>Average Deal Size</th>
            <td>${{ company.average_deal_size }}</td>
        </tr>
        <tr>
            <th>Funding Status</th>
            <td>{{ company.funding_status }}</td>
        </tr>
        <tr>
            <th>Brief Company Profile</th>
            <td>{{ company.brief_company_profile }}</td>
        </tr>
        <tr>
            <th>Google Rating</th>
            <td>{{ company.google_rating }}</td>
        </tr>
        <tr>
            <th>Product Brochure</th>
            <td>
                <a href="{{ company.product_brochure }}" target="_blank">Download Brochure</a>
            </td>
        </tr>
        <tr>
            <th>Locations</th>
            <td>
                {{company.locations | safe}}
            </td>
        </tr>
        <tr>
            <th>Key Capabilities</th>
            <td>
                {{company.key_capabilities | safe}}
            </td>
        </tr>
        <tr>
            <th>Products</th>
            <td>
                {{ company.products | safe}}
            </td>
        </tr>
        <tr>
            <th>Industry Types</th>
            <td>
                {{ company.industry_types | safe}}
            </td>
        </tr>
        <tr>
            <th>Partner Categories</th>
            <td>
                {{ company.partner_category | safe}}
            </td>
        </tr>
        <tr>
            <th>Top Customers</th>
            <td>
                {{ company.top_customer_names | safe}}
            </td>
        </tr>
        <tr>
            <th>Client Testimonials</th>
            <td>
                {{company.client_testimonials | safe}}
            </td>
        </tr>
        <tr>
            <th>Top Management</th>
            <td>
                {{ company.top_management_details | safe}}
            </td>
        </tr>
        <tr>
            <th>Operating Countries</th>
            <td>
                {{ company.operating_countries | safe}}
            </td>
        </tr>
        <tr>
            <th>OEMs Working With</th>
            <td>
                {{ company.oems_working_with | safe}}
            </td>
        </tr>
        <tr>
            <th>Case Studies</th>
            <td>
                {{ company.case_studies | safe}}
            </td>
        </tr>


    </tbody>
</table>
<br>
<a href="/admin/company/" class="button">Back to Companies</a>
{% endblock %}